body {background-color: gray;}

h1 {color: rgb(255, 255, 255);
border-width: 5px;
border-style: solid;
border-color: black;}

h2 {color: white;
border-width: 5px;
border-style: solid;
border-color: black;}